/* Cores da Paleta */
:root {
  --background: #16161a;
  --headline: #fffffe;
  --paragraph: #94a1b2;
  --button: #7f5af0;
  --button-text: #fffffe;
  --stroke: #010101;
  --main: #fffffe;
  --highlight: #7f5af0;
  --secondary: #72757e;
  --tertiary: #2cb67d;
}

/* Estilos Globais */
body {
  background-color: var(--background);
  color: var(--paragraph);
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

h1, h2, h3 {
  color: var(--headline);
}

a {
  color: var(--highlight);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

button {
  background-color: var(--button);
  color: var(--button-text);
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
}

button:hover {
  background-color: var(--highlight);
}
